.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}
button {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  background: transparent;
  border: none;
  font-size: 20pt;
  padding: 4px;
  border-radius: 4px;
}
button:hover span.title:hover {
  background-color: rgba(gray, 0.1);
}
button:active span.title:hover {
  background-color: rgba(gray, 0.2);
}
span.title {
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 12px;
}
