.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}
button {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  background: transparent;
  border: none;
  font-size: 28pt;
  padding: 4px;
  border-radius: 4px;
  transition-duration: 0.5s;
}
.title {
  font-size: 28pt;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 12px;
}
button:hover {
  background-color: #dddddd;
  border-radius: 100%;
}
.title:hover {
  font-weight: bold;
}
button:focus {
  outline: 0;
}
