.box:hover {
  cursor: pointer;
}

.box {
  font-weight: bold;
  position: relative;
  display: block;
  width: calc(100% / 7);
  height: 0;
  padding-bottom: calc(100% / 7);
  font-size: 12pt;
  border: 1px solid #cccccc;
}

.box:first-child {
  color: red;
}
.box:last-child {
  color: #588dff;
}
.box.grayed {
  color: gray;
}

.grayed {
  color: gray;
}

.box:hover span.text {
  background-color: rgba(#588dff, 0.1);
}
.box.today {
  background-color: rgba(red, 0.1);
}
.box.selected span.text {
  background-color: #588dff;
  color: white;
}
.selected {
  background-color: #99aaff;
  color: white;
}

span.text {
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.day {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
}
